{% extends "inventory/base.html" %}
{% load humanize %}

{% block content %}

<section class="grid gap-6 mt-20 md:grid-cols-3 p-4 md:p-8 max-w-5xl mx-auto w-full ">
  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
      <dl class="space-y-2">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Total Drugs</dt>

          <dd class="text-5xl font-light md:text-6xl dark:text-white" id="total-drug-card" hx-swap-oob="true">{{ total_drugs }} </dd>

          <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span></span>

              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17.25 15.25V6.75H8.75"></path>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17 7L6.75 17.25"></path>
              </svg>
          </dd>
      </dl>
  </div>

  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
      <dl class="space-y-2">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Orders</dt>

          <dd class="text-5xl font-light md:text-6xl dark:text-white" id="total-orders-card" hx-swap-oob="true">
            {{ total_orders }}
          </dd>

          <dd class="flex items-center space-x-1 text-sm font-medium text-red-500 dark:text-red-400">
              <span></span>

              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17.25 8.75V17.25H8.75"></path>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17 17L6.75 6.75"></path>
              </svg>
          </dd>
      </dl>
  </div>

  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
    <dl class="space-y-2">
        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Total Payment</dt>

        <dd class="text-5xl font-light md:text-6xl dark:text-white break-words overflow-hidden text-ellipsis max-w-full" id="total-profit-made-card" hx-swap-oob="true">
            {{ total_payment|intcomma }}
        </dd>

        <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
            <span></span>

            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M17.25 15.25V6.75H8.75" />
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M17 7L6.75 17.25" />
            </svg>
        </dd>
    </dl>
</div>

  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
      <dl class="space-y-2">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Debts</dt>

          <dd class="text-5xl font-light md:text-6xl dark:text-white" id="total-debt-card" hx-swap-oob="true">{{ total_debt }}</dd>

          <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span></span>

              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17.25 15.25V6.75H8.75"></path>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17 7L6.75 17.25"></path>
              </svg>
          </dd>
      </dl>
  </div>
  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
      <dl class="space-y-2">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Total Amount</dt>

          <dd class="text-5xl font-light md:text-6xl dark:text-white" id="total-company-card" hx-swap-oob="true"></dd>

          <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span></span>

              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17.25 15.25V6.75H8.75"></path>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M17 7L6.75 17.25"></path>
              </svg>
          </dd>
      </dl>
  </div>
  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
    <dl class="space-y-2">
        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Total Profit</dt>

        <dd class="text-5xl font-light md:text-6xl dark:text-white break-words overflow-hidden text-ellipsis max-w-full" id="total-profit-made-card" hx-swap-oob="true">
            {{ total_profit|intcomma }}
        </dd>

        <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
            <span></span>

            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M17.25 15.25V6.75H8.75" />
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M17 7L6.75 17.25" />
            </svg>
        </dd>
    </dl>
</div>

  <div class="p-3 bg-white shadow rounded-2xl dark:bg-gray-900">
    <dl class="space-y-2">
        <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Company Total</dt>

        <dd class="text-5xl font-light md:text-6xl dark:text-white break-words overflow-hidden text-ellipsis max-w-full" id="total-profit-made-card" hx-swap-oob="true">
            {{ company_total|intcomma }}
        </dd>

        <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
            <span></span>

            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M17.25 15.25V6.75H8.75" />
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M17 7L6.75 17.25" />
            </svg>
        </dd>
    </dl>
</div>

</section>



    

{% endblock content %}